/* Masanory-style layout */
.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    flex: 0 0 30%;
}

/* Custom styles for like button */
.like-button {
    color: grey;
    cursor: pointer;
}

.liked {
    color: red;
}
